@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/indigo.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/purple.css';
@import '@radix-ui/colors/violet.css';


* {
  margin: 0;
  padding: 0;
}
button,
p {
  all: unset;
}